.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: clamp(0.5rem, 2vw, 2rem);
}

.card-list-item {
    min-width: 16rem;
    border-radius: 0.8rem;
}

.card-list-item-subtext {
    font-size: 0.9rem;
}

.card-list-item img {
    margin-bottom: 0;
}


.card-list-item-style-blue {
    background: linear-gradient(135deg, #dbe4f0, #aebdce);
    box-shadow:
            inset 0 0 10px rgba(255, 255, 255, 0.3),
            0 1px 4px rgba(0, 0, 0, 0.1);
    color: #1a2735;
}

.card-list-item-style-green {
    background: linear-gradient(135deg, #e3f1e8, #b5c9b9);
    box-shadow:
            inset 0 0 10px rgba(255, 255, 255, 0.3),
            0 1px 4px rgba(0, 0, 0, 0.1);
    color: #2e4233;
}

.card-list-item-style-yellow {
    background: linear-gradient(135deg, #f5f1db, #d2c7a2);
    box-shadow:
            inset 0 0 10px rgba(255, 255, 255, 0.4),
            0 1px 4px rgba(0, 0, 0, 0.08);
    color: #52472d;
}

.card-list-item-style-gray {
    background: linear-gradient(135deg, #e0e0e0, #b0b0b0);
    box-shadow:
            inset 0 0 8px rgba(255, 255, 255, 0.25),
            0 1px 4px rgba(0, 0, 0, 0.08);
    color: #2f2f2f;
}

.card-list-item-style-red {
    background: linear-gradient(135deg, #f3e0e0, #c9a7a7);
    box-shadow:
            inset 0 0 10px rgba(255, 255, 255, 0.3),
            0 1px 4px rgba(0, 0, 0, 0.1);
    color: #512626;
}

.card-list-item-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    line-height: 1.3;
    background-color: rgba(100, 100, 100, 0.1);
    border-radius: 0.8rem;
}

.card-food-meta-item-label {
    background-color: rgba(100, 100, 100, 0.4);
    padding: 0.1rem 0.3rem;
    border-radius: 0.8rem 0 0 0.8rem;
}

.card-food-meta-item-content {
    text-align: right;
    padding: 0.1rem 0.5rem;
}
