.cat-food {
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cat-food-item-img-wrapper {
    flex: 1;
    border-radius: 0.618rem;
    margin: 1rem;
}

.cat-food-item-img-wrapper img {
    height: 100%;
    width: 100%;
}

.cat-food-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cat-food-title {
    font-weight: bold;
    font-size: 1.4rem;
}

.cat-food-meta-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.4rem;
    row-gap: 0.2rem;
}

.cat-food-meta-item {

}

.cat-food-desc {
    margin-top: 1rem;
}




