.device {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 18rem;
}

.device-item-img-wrapper {
    margin: 1rem;
    margin-bottom: 0;
}

.device-title {
    font-weight: bold;
}

.device-item-img-wrapper img {
    height: 12rem;
    width: 12rem;
    border-radius: 1.618rem;
}

.item-content-wrapper {
    padding: 1rem;
    padding-top: 0;
}

.device-desc {
    padding: 0.3rem;
    padding-bottom: 0;
    padding-top: 0.4rem;
}