.timeline-wrapper {
    margin-left: 6rem;
    margin-right: 6rem;
    width: 100%;
}

.timeline {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

/* 竖线 */
.timeline::before {
    content: "";
    position: absolute;
    left: 10px;     /* 决定整条线的位置 */
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ddd;
}

/* 单个条目 */
.timeline li {
    position: relative;
    padding-left: 2rem;   /* 给左边留出线和圆点的空间 */
    margin-bottom: 2rem;
}

/* 圆点 */
.timeline li::before {
    content: "";
    position: absolute;
    left: 5px;      /* = 竖线位置 - 圆点半径 */
    top: 1.2rem;
    width: 12px;
    height: 12px;
    border: 2px solid #666;
    border-radius: 50%;
    background: #fff;
    box-sizing: border-box;
}


.timeline-item {
    display: flex;
    flex-direction: row;
}

.timeline-item-body {
    border-left: 0;
    background: var(--blockquote-bg-color);
    width: 100%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    gap: 0.4rem;
    padding-bottom: 0.618rem;
    padding-top: 0.618rem;
}

.timeline-item-date {
    justify-content: left;
    width: 5rem;
    padding-right: 1rem;
    padding-top: 0.618rem;
    font-size: 1.2rem
}

.timeline-item-title {
    padding-left: 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.timeline-item-meta {
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.timeline-meta-author {
    font-size: 0.9rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.timeline-tags {
    font-size: 0.9rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}