.chirp-group-container {
    gap: 2px !important;
}

.chirp-container {
    margin-left: 7rem;
    margin-right: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: 110% !important;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .avatar-container > img {
        height: 5rem;
        width: 5rem;
        border-radius: 0.5rem;
    }

    .chirp-imgs-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }

    .chirp-imgs-container {
        display: grid;
        gap: 3px;
    }

    /* 根据图片数量调整布局 */
    .chirp-imgs-container {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* 自动调整列数 */
    }

    /* 1张图片 */
    .chirp-imgs-container a:nth-child(1):only-child {
        width: 50%; /* 占满整个容器 */
        height: auto;
    }

    /* 2张图片 */
    .chirp-imgs-container a:nth-child(2):nth-last-child(1) {
        width: 100%; /* 每张图片占一半宽度 */
        height: auto;
    }

    /* 4张图片 */
    .chirp-imgs-container a:nth-child(4):nth-last-child(1) {
        width: 100%; /* 每张图片占一半宽度 */
        height: auto;
    }

    /* 特殊布局 */
    .chirp-imgs-container > a:nth-child(1) {
        grid-template-columns: 1fr;
    }

    .chirp-imgs-container > a:nth-child(2) {
        grid-template-columns: repeat(2, 1fr);
    }

    .chirp-imgs-container > a:nth-child(3) {
        grid-template-columns: repeat(3, 1fr);
    }

    .chirp-imgs-container > a:nth-child(4) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .chirp-imgs-container > a:nth-child(5) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .chirp-imgs-container > a:nth-child(6) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .chirp-imgs-container > a:nth-child(7) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .chirp-imgs-container > a:nth-child(8) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    @media (max-width: 768px) {
        margin-left: 2rem;;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}

.chirp-container:not(:last-child) {
    border-bottom: 1px solid var(--primary);
}

.chirp-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    text-align: left;
    margin-left: 1rem;

    .chirp-content p {
        margin-block-start: unset;
    }

    .chirp-footer {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}

.chirp-comments {
    display: none;
}

.chirp-comments.open {
    display: block;
}