/* giscus 评论组件 */
.comments-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    text-align: center;
}

.x-comments-title {
    display: block;
    font-size: 1.25em;
    font-weight: 700;
    padding: 1.5rem 0 .5rem;
}

#twikoo {
    margin-left: 10%;
    margin-right: 10%;

    @media (max-width: 768px) {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
}

.tk-content {
    text-align: left;
    code {
        padding: 0.2rem 0.5rem;
        border-radius: 0.2rem;
        background-color: var(--code-bg-color);
        color: var(--tk-code-color);
    }
}

.code-toolbar {
    background-color: var(--code-bg-color);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
}