.friend-page-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.friends-container {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    gap: 2rem;
    height: 30rem;
}

.friend-card {
    padding-top: 0.5rem;
    border: 1px solid var(--board-color);
    border-radius: 1.2rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 14rem;
    width: 12rem;

    img {
        height: 10rem;
        width: 10rem;
        border-radius: 2rem;
    }
}

.friend-card:hover {
    transform: translateY(-1rem);
    transition: 0.3s ease-in-out;
}

.friend-card-meta {
    display: flex;
    flex-direction: column;
}