.friends-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3åˆ— */
    grid-auto-rows: auto;
    justify-content: center;
    place-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width: 768px) {
    .friends-container {
        grid-template-columns: repeat(1, 1fr); 
    }
}

.friend-content {
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
}

.friend-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;

    img {
        height: 5rem;
        width: 5rem;
        border-radius: 0.5rem;
    }
}

.friend-card:hover {
    transform: translateY(-0.3rem);
    transition: 0.3s ease-in-out;
}

.friend-card-meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 14rem;
    height: 5rem;
    

    .fund-title {
        text-align: left;
    }
}

.friends-description {
    text-align: left;
}