.goto-next-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 0.3rem;
    padding-bottom: 0.5rem;
}

.goto-next-item {
    border-radius: 0.5rem;
}

.goto-next-item:hover {
    background-color: var(--fund-btn-hover-color);
}