.header-container {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(5px);
}

.header-title-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
    gap: 0.3rem;
    align-items: center;
    margin-left: 2rem;
}

.site-title-container {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-container a {
    color: var(--primary);
}

.header-container a:hover {
    color: var(--primary);
}

.header-icon {
    height: 2rem;
    width: 2rem;
}

.header-title {
    font-size: 1.5rem;
}

.nav-container {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
}

.header-center-container {
    flex: 1;
}

.toggle {
    margin-left: 0.5rem;
}

.toggle:hover {
    cursor: pointer;
}

.toggle-icon {
    display: none;
}

.toggle-icon.active {
    display: block;
}

.header-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-center-board {
    width: fit-content;
    transform: scale(0); /* 初始状态为缩放为0 */
    opacity: 0; /* 初始状态为完全透明 */
    background-color: var(--theme-secondary);
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-center-board.hidden {
    animation: hidden 0.3s forwards;
}

.header-center-board.show {
    animation: show 0.3s forwards;
}

.header-center-typeit-board {
    width: fit-content;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-center-typeit-board.hidden {
    display: none;
}

@keyframes show {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 100;
    }
}

@keyframes hidden {
    0% {
        transform: scale(1);
        opacity: 100;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.mobile-menu-btn {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    .header-center-container {
        display: none;
    }

    .nav-container {
        all: unset;
        display: none;
    }

    .mobile-menu-btn {
        display: block;
        margin-right: 2rem;
        z-index: 1001;
    }

    .nav-container.show {
        display: flex;
        flex-direction: column;
        right: 3rem;

        nav > ul {
            display: block;
            text-align: left;
            position: absolute;
            right: 0;
            background: var(--background-color);
            border: 1px solid var(--board-color);
            border-radius: 0.5rem;
            padding: 0.5rem;
            z-index: 1000;
        }

        ul > li {
            all: unset;
            display: block;
            flex: 0 0 auto;
            flex-direction: column;
        }

        ul > li > ul {
            all: unset;
            display: block;
            padding-left: 20px;
        }
    }
}