body {
  color: var(--primary);
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background:
          var(--background-2-color),
          var(--background-color);
}

footer {
  p {
    padding: 0;
    margin: 0;
  }
  padding-bottom: 1rem;
  padding-top: 2rem;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: var(--background-color);
}

::-webkit-scrollbar-track {
  background: var(--background-color);;
}

  /*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem 0 0;
  gap: 1rem;
}

.right-container {
  width: 20vw;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  position: relative;
}

.left-container {
  width: 70vw;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

a {
  font-style: normal;
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

.shadow-a a {
  color: var(--primary);
}

.shadow-a a:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

@media (max-width: 800px) {
  .right-container {
    display: none;
  }

  .left-container {
    width: calc(100vw - 48px);
    min-width: calc(100vw - 48px);
  }
}