.series-item {
    padding-left: 1.6rem;
}

.series-item-active-flag {
    width: 1.6rem;
}

.series-title {
    font-size: 1.2rem;
    padding-bottom: 0.325rem;
    font-weight: bold;
}

.series-blockquote {
    border-left: 0rem !important;
}