.single-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.single-cover-bg {
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 50vh;
    filter: blur(1rem);
}

.content-container {
    border-left: 1px solid var(--divider-color);
    border-right: 1px solid var(--divider-color);
}

.post-content {
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.post-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 25vh;
    width: 86vw;
    text-align: left;
}

.inline-svg svg {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

.post-header > .title {
    margin-bottom: 1.5rem;
    font-size: 3rem;
}
.post-header > .fund-secondary {
    font-size: 1rem;
}
.post-header > .meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

.post-info {
    margin-top: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--post-item-background-color);
    padding-bottom: 1rem;
    bottom: 3rem;
    gap: 1rem;
}

.post-container .meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#md-container {
    text-align: left;
}

#expiration-reminder {
    border-color: #ff892d !important;
    font-weight: bold;
    color: #ff892d;
}

.pn-text {
    margin-bottom: 0.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.post-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0.2rem;
    font-size: 1rem;
}

.nav-block {
    flex: 1;
    display: flex;
    align-items: center;
    min-height: 3rem;
    background-color: var(--blockquote-bg-color);
    color: var(--primary) !important;
}

.nav-block.prev {
    justify-content: flex-start;
    text-align: left;
    border-radius: 5px 0 0 5px;
    border-left: 4px solid var(--theme);
}

.nav-block.next {
    justify-content: flex-end;
    text-align: right;
    border-radius: 0 5px 5px 0;
    border-right: 4px solid var(--theme);
}

.nav-block > .pn-content-container {
    display: flex;
    flex: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-block > .pn-content-container:hover {
    text-decoration: underline;
    color: var(--theme) !important;
}

.nav-block.no-item > .pn-content-container:hover {
    text-decoration: unset;
    color: var(--primary) !important;
}

.arrow {
    flex: 1;
    font-weight: bold;
    font-size: 1.2rem;
}

.ori-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start ;
}

.ori-icon img {
    height: 2.5rem;
    margin-bottom: 0;
}





