.terms-tags {
    min-height: 18rem;
}

#wordcloud-canvas {
    height: 16rem;
    margin: 0.2rem;
    margin-bottom: 1rem;
}

#wordcloud-canvas span:hover {
    cursor: pointer !important;
    filter: brightness(1.2);
}