{{- if .Site.Params.feature.gotoNext }}
<div class="fund-block fund-border" id="site-info">
    <div class="site-info-title">
        <div class="fund-divider fund-title">
            {{ $title := .Site.Params.gotoNext.title | default "下一站" }}
            <span>{{$title}}</span>
        </div>
    </div>
    <div class="goto-next-grid">
        {{- if .Site.Params.gotoNext.foreverBlog }}
        <a href="https://www.foreverblog.cn/go.html" target="_blank">
            <img src="https://img.foreverblog.cn/wormhole_1.gif" alt="" style="width:auto;height: auto" title="穿梭虫洞-随机访问十年之约友链博客">
        </a>
        {{- end }}
        {{- if .Site.Params.gotoNext.moeOne }}
        <a style="text-decoration:none;" href="https://travel.moe/go.html" title="异次元之旅-跃迁-我们一起去萌站成员的星球旅行吧！" target="_blank">
            <img src="https://travel.moe/images/icon/icon64.png" style="width:24px;height:24px">异次元之旅</a>
        {{- end }}
        {{- if .Site.Params.gotoNext.travelling }}
        <a href="https://www.travellings.cn/go.html" target="_blank" rel="noopener" title="开往-友链接力">
            <img src="https://www.travellings.cn/assets/logo.gif" alt="开往-友链接力" width="120">
        </a>
        {{- end }}
    </div>
</div>
{{- end }}